@media (max-width: 24em) {
  body {
    font-size: 0.8rem;
  }
  .section-size {
    max-width: 37.5rem;
  }

  .grid {
    grid-template-columns: 1fr;
    max-width: 40%;
    max-height: 100vh;
  }

  .part-header {
    font-size: 1rem;
    margin-bottom: 1rem;
  }

  .flex-container {
    gap: 1rem;
    margin-bottom: 0.8rem;
  }

  /* ***** */
  /* FIRST PART */
  /* ***** */

  .first-part {
    grid-column: 1/2;
    padding: 2em;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
  }
  .primary-header {
    font-size: 1.2rem;
    margin-bottom: 1.2rem;
  }
  .secondary-header {
    font-size: 1rem;
    margin-bottom: 0.6rem;
  }
  .text-description {
    line-height: 1.4;
  }

  /* ***** */
  /* SECOND PART */
  /* ***** */

  .second-part {
    padding: 2rem;
    border-bottom-left-radius: 0;
  }

  .price {
    font-size: 1.6em;
  }

  .price-text {
    margin-bottom: 1rem;
  }

  .btn:link,
  .btn:visited {
    font-size: 0.8rem;
    padding: 0.6rem 5rem;
    border-radius: 3px;
    white-space: nowrap;
  }

  /* ***** */
  /* LAST PART */
  /* ***** */

  .last-part {
    padding: 2rem 5rem 2rem 2rem;
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
  }

  .why-us-text {
    color: #ced7dd;
    line-height: 1.2;
  }
}
